// Buttons
%button {
  padding: 0.4375rem 2rem;
  display: inline-block;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  color: $button-color;
  background-color: $button-background-color;
  border: $button-border $button-border-color;
  // border-radius: $round-edges;
  transition: background-color 300ms ease-out;
  user-select: none;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $button-color-hover;
    background-color: $button-background-color-hover;
    // border: $button-border-color-hover;
  }
}

.button, input[type="submit"] {
  @extend %button;

  &.login-button {
    padding: 0.4375rem 3.75rem;
  }

  &.signup-button {
    padding: 0.4375rem 3.45rem;
  }

  &.purple-filled-button {
    padding: 0.5rem 3.5rem;
    background-color: $purple;
    color: white;
    border: none;

    &:hover {
      background-color: scale_color($purple, $lightness: -20%);
    }
  }

  &.salmon-filled-button {
    padding: 0.5rem 4.475rem;
    background-color: $salmon;
    color: white;
    border: none;

    &:hover {
      background-color: scale_color($salmon, $lightness: -20%);
    }
  }
}
