footer {
  padding: 4.5em 1em;
  background-color: $emerald;

  .footer-container {
    @include container(107em);
  }

  .propo-info {
    @include span(4);

    p {
      @include adjust-font-size-to(12px);
      color: white;
    }
  }

  .footer-links {
    @include span(5);
    text-align: right;

    div {
      margin-left: 4.5em;
      display: inline-block;
      vertical-align: top;
      text-align: left;

      h5 {
        color: white;
      }

      a {
        @include adjust-font-size-to(12px);
        color: $light-gray;
        font-weight: 400;

        &:hover {
          color: scale_color($light-gray, $lightness: -10%);
        }
      }
    }
  }

  .signup-form {
    @include span(3 last);
  }
}
