%h1 Welcome to your new homepage!
%h2 Test H2
%h3 Test H3
%h4 Test H4
%h5 Test H5
%h6 Test H6
%p Test paragraph

.button.login-button LOGIN
.button.signup-button SIGN UP
.button.purple-filled-button SIGN UP
.button.salmon-filled-button GO
