.login-container
  %h2 Login for Keyfinder
  = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
    .form-field
      = f.input :email, autofocus: true, placeholder: 'Email address'

    .form-field
      = f.input :password, placeholder: 'Password'

    .form-field
      = f.submit 'Log in'
